.element{
    display: inline-block;
    flex: 1;
    position: relative;
    font-size: 16px;
    margin: 5px;
}

.container{
    margin: 5px;
}
@media only screen and (max-width: 600px) {
    .element{
        font-size: 15px;
    }
   }