

.bottom-right {
  /*position: relative;*/
  /*left: 73%;*/
  /*top: 450px;*/

  position: absolute;
  right: 73%;
  width: 30%;
  bottom: 10%;
}

.bottom-left {
  position: absolute;
  left: 73%;
  width: 30%;
  bottom: 10%;
}

.top-right {
  position: relative;
  left: 73%;
  width: 30%;
  top: 20%;
}

.top-left {
  position: absolute;
  right: 73%;
  width: 30%;
  top: 20%;

}
