mat-form-field{
    margin: 5px;
    width: 45%;
}

.registration-button{
    margin: 20px;
    display: flex;
    flex-direction: column;

}

button{
    margin-bottom: 4px;
}
mat-card{
    margin: 40px 20px;
    width: 200px;
}